@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0 0); /* slate-50 */
  --foreground: oklch(0.21 0.02 264.7); /* slate-900 */
  
  --primary: oklch(0.51 0.19 261.6); /* indigo-600 */
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.96 0.01 264.7); /* slate-100 */
  --secondary-foreground: oklch(0.21 0.02 264.7);

  --muted: oklch(0.92 0.01 264.7); /* slate-200 */
  --muted-foreground: oklch(0.45 0.02 264.7); /* slate-500 */

  --accent: oklch(0.96 0.01 264.7);
  --accent-foreground: oklch(0.21 0.02 264.7);

  --border: oklch(0.92 0.01 264.7);
  --input: oklch(0.92 0.01 264.7);
  --ring: oklch(0.51 0.19 261.6);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.02 264.7);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}